* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 60px;
    grid-template-areas:
        "aside header" 
        "aside conteudo";
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background-color: rgb(44, 49, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: rgb(184, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
}

aside {
    grid-area: aside;
    top: 15px;
    left: 15px;
}

main {
    grid-area: conteudo;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fundo-Mental.png);
    background-size: cover;
}






.voltar {
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
.voltar:hover {
    transform: scale(1.1);
}

.conteudo-centralizado {
    color: #ffffff;
    width: 400px;
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.conteudo-centralizado label {
    margin-bottom: 5px;
}
.conteudo-centralizado input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}


.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d9d9d9;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid black;
}
.amarelo {
    background-color: #f5e663;
}
.vermelho {
    background-color: #b43f3f;
}
.laranja {
    background-color: #d97b2a;
}


.aluno-card {
  display: flex;
  align-items: center;
  background: #ddd;
  color: black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 8px;
  position: relative;
  width: 300px;
}

.user-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification {
  position: absolute;
  top: 5px;
  left: 40px;
  background: black;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}